tools/FStar/
third_party/rfc/
_cache/
_output/
_extract/
*.checked
*.krml
*.smt2
test/test_hacl_stubs
test/test_openssl_stubs
test/test_wire_stubs
test/test_record_stubs
test/test_io_stubs
test/test_extract_smoke
test/test_connection_driver_bindings
test/test_connection_bindings
test/test_handshake_driver_bindings
test/test_handshake_bindings
test/test_key_schedule_bindings
test/test_record_bindings
test/test_extracted_connection_wrapper_openssl
test/openssl_echo_server
test/openssl_echo_server.log
test/openssl-echo.*
test/certs/
