*~
\#*\#
*.vspx
*.psess
*.suo
*.smt2
*.sav
*.p.fs*
transcript*
cache/
/VS/packages

src/tls-ml/*.ml

attic/
_build/

*.native*
*.byte*

/.nubuild
/nucache
/nuobj

*.swp
*~

src/tls/libmitls.dll
libs/ffi/FFI.o
libs/ffi/dllFFICallbacks.dll
libs/ffi/dllFFICallbacks.so
libs/ffi/FFICallbacks.a
libs/ffi/FFICallbacks.cmi
libs/ffi/FFICallbacks.cmx
libs/ffi/FFICallbacks.cmxa
libs/ffi/FFICallbacks.o
libs/ffi/FFIRegister.cmi
libs/ffi/FFIRegister.cmx
libs/ffi/FFIRegister.o
libs/ffi/libFFIcallbacks.a
src/tls/server13.exe
src/tls/client13.exe

apps/*/*.dll
apps/*/*.so
apps/*/*.exe

.fstar_version
src/pki/*.dll
src/pki/*.so
src/pki/*.exe
src/tls/*.dll
src/tls/*.lib
src/tls/*.exe
src/tls/*.so
libs/ffi/*.o
libs/ffi/*.dll
libs/ffi/*.so
libs/ffi/*.a
libs/ffi/*.cm*

src/tls/krml_output/*.c
src/tls/krml_output/*.h

apps/cmitls/benchmark.sh
apps/quicMinusNet/quic_common.c
apps/QuicWin/ffi2lib.bat
apps/QuicWin/QuicWin.sln
apps/QuicWin/QuicWin/QuicWin.cpp
apps/QuicWin/QuicWin/QuicWin.vcxproj
apps/QuicWin/QuicWin/QuicWin.vcxproj.filters
scripts/vsbin.sh
src/pki/win/mipkiwin.c
src/tls/extract/cstubs/log_to_choice.h
src/tls/extract/cstubs/RegionAllocator.c
src/tls/extract/cstubs/RegionAllocator.h
src/tls/hints/AEAD_GCM.fst.hints
src/tls/hints/AEADProvider.fst.hints
src/tls/hints/C.Endianness.fst.hints
src/tls/hints/CommonDH.fst.hints
src/tls/hints/DebugFlags.fst.hints
src/tls/hints/HandshakeLog.fst.hints
src/tls/hints/LHAEPlain.fst.hints
src/tls/hints/List.Helpers.fst.hints
src/tls/hints/Negotiation.fst.hints
src/tls/hints/Old.KeySchedule.fst.hints
src/tls/hints/Record.fst.hints
src/tls/hints/StreamAE.fst.hints
src/tls/hints/TLS.fst.hints
src/tls/renamings.sh
src/windows/bin/libcrypto-1_1-x64.dll
src/windows/bin/libevercrypt.dll
src/windows/bin/libmitls.dll
src/windows/bin/libquiccrypto.dll
src/windows/evercrypt/AEAD.c
src/windows/evercrypt/AEAD.h
src/windows/evercrypt/AEAD_Poly1305_64.c
src/windows/evercrypt/AEAD_Poly1305_64.h
src/windows/evercrypt/AEAD_Poly1305_64.obj
src/windows/evercrypt/aes-x86_64.obj
src/windows/evercrypt/aes.h
src/windows/evercrypt/aesgcm-x86_64.obj
src/windows/evercrypt/amd64/aes-x86_64.asm
src/windows/evercrypt/amd64/aesgcm-x86_64.asm
src/windows/evercrypt/amd64/sha256-x86_64.asm
src/windows/evercrypt/benchmark-aesgcm.c
src/windows/evercrypt/C.c
src/windows/evercrypt/C.h
src/windows/evercrypt/C.obj
src/windows/evercrypt/C_Endianness.c
src/windows/evercrypt/C_Endianness.h
src/windows/evercrypt/C_Endianness.obj
src/windows/evercrypt/C_Failure.c
src/windows/evercrypt/C_Failure.h
src/windows/evercrypt/C_Failure.obj
src/windows/evercrypt/C_Loops.c
src/windows/evercrypt/C_Loops.h
src/windows/evercrypt/C_Loops.obj
src/windows/evercrypt/C_String.c
src/windows/evercrypt/C_String.h
src/windows/evercrypt/C_String.obj
src/windows/evercrypt/Crypto_Symmetric_AES.c
src/windows/evercrypt/Crypto_Symmetric_AES.h
src/windows/evercrypt/Crypto_Symmetric_AES.obj
src/windows/evercrypt/Crypto_Symmetric_AES128.c
src/windows/evercrypt/Crypto_Symmetric_AES128.h
src/windows/evercrypt/Crypto_Symmetric_AES128.obj
src/windows/evercrypt/DafnyLib.h
src/windows/evercrypt/dllmain.obj
src/windows/evercrypt/EverCrypt.c
src/windows/evercrypt/EverCrypt.h
src/windows/evercrypt/EverCrypt.obj
src/windows/evercrypt/EverCrypt_AutoConfig.c
src/windows/evercrypt/EverCrypt_AutoConfig.h
src/windows/evercrypt/EverCrypt_AutoConfig.obj
src/windows/evercrypt/EverCrypt_BCrypt.c
src/windows/evercrypt/EverCrypt_BCrypt.h
src/windows/evercrypt/EverCrypt_BCrypt.obj
src/windows/evercrypt/EverCrypt_Bytes.c
src/windows/evercrypt/EverCrypt_Bytes.h
src/windows/evercrypt/EverCrypt_Bytes.obj
src/windows/evercrypt/EverCrypt_Hacl.c
src/windows/evercrypt/EverCrypt_Hacl.h
src/windows/evercrypt/EverCrypt_Hacl.obj
src/windows/evercrypt/EverCrypt_Hash.c
src/windows/evercrypt/EverCrypt_Hash.h
src/windows/evercrypt/EverCrypt_Hash.obj
src/windows/evercrypt/EverCrypt_Helpers.c
src/windows/evercrypt/EverCrypt_Helpers.h
src/windows/evercrypt/EverCrypt_Helpers.obj
src/windows/evercrypt/EverCrypt_HKDF.c
src/windows/evercrypt/EverCrypt_HKDF.h
src/windows/evercrypt/EverCrypt_HMAC.c
src/windows/evercrypt/EverCrypt_HMAC.h
src/windows/evercrypt/EverCrypt_OpenSSL.c
src/windows/evercrypt/EverCrypt_OpenSSL.h
src/windows/evercrypt/EverCrypt_Spec_SHA2_256.c
src/windows/evercrypt/EverCrypt_Spec_SHA2_256.h
src/windows/evercrypt/EverCrypt_Spec_SHA2_384.c
src/windows/evercrypt/EverCrypt_Spec_SHA2_384.h
src/windows/evercrypt/EverCrypt_Specs.c
src/windows/evercrypt/EverCrypt_Specs.h
src/windows/evercrypt/EverCrypt_Specs.obj
src/windows/evercrypt/EverCrypt_StaticConfig.c
src/windows/evercrypt/EverCrypt_StaticConfig.h
src/windows/evercrypt/EverCrypt_StaticConfig.obj
src/windows/evercrypt/EverCrypt_Vale.c
src/windows/evercrypt/EverCrypt_Vale.h
src/windows/evercrypt/EverCrypt_Vale.obj
src/windows/evercrypt/evercrypt_vale_stubs.c
src/windows/evercrypt/evercrypt_vale_stubs.obj
src/windows/evercrypt/EverCrypt_ValeGlue.c
src/windows/evercrypt/EverCrypt_ValeGlue.h
src/windows/evercrypt/EverCrypt_ValeGlue.obj
src/windows/evercrypt/Flag.c
src/windows/evercrypt/Flag.h
src/windows/evercrypt/FStar.c
src/windows/evercrypt/FStar.h
src/windows/evercrypt/FStar.obj
src/windows/evercrypt/Hacl.c
src/windows/evercrypt/Hacl.h
src/windows/evercrypt/Hacl_Chacha20.c
src/windows/evercrypt/Hacl_Chacha20.h
src/windows/evercrypt/Hacl_Chacha20.obj
src/windows/evercrypt/Hacl_Chacha20Poly1305.c
src/windows/evercrypt/Hacl_Chacha20Poly1305.h
src/windows/evercrypt/Hacl_Chacha20Poly1305.obj
src/windows/evercrypt/Hacl_Curve25519.c
src/windows/evercrypt/Hacl_Curve25519.h
src/windows/evercrypt/Hacl_Curve25519.obj
src/windows/evercrypt/Hacl_Ed25519.c
src/windows/evercrypt/Hacl_Ed25519.h
src/windows/evercrypt/Hacl_Ed25519.obj
src/windows/evercrypt/Hacl_HMAC_SHA2_256.c
src/windows/evercrypt/Hacl_HMAC_SHA2_256.h
src/windows/evercrypt/Hacl_HMAC_SHA2_256.obj
src/windows/evercrypt/Hacl_Policies.c
src/windows/evercrypt/Hacl_Policies.h
src/windows/evercrypt/Hacl_Policies.obj
src/windows/evercrypt/Hacl_Poly1305_64.c
src/windows/evercrypt/Hacl_Poly1305_64.h
src/windows/evercrypt/Hacl_Poly1305_64.obj
src/windows/evercrypt/Hacl_Salsa20.c
src/windows/evercrypt/Hacl_Salsa20.h
src/windows/evercrypt/Hacl_Salsa20.obj
src/windows/evercrypt/Hacl_SHA2_256.c
src/windows/evercrypt/Hacl_SHA2_256.h
src/windows/evercrypt/Hacl_SHA2_256.obj
src/windows/evercrypt/Hacl_SHA2_384.c
src/windows/evercrypt/Hacl_SHA2_384.h
src/windows/evercrypt/Hacl_SHA2_384.obj
src/windows/evercrypt/Hacl_SHA2_512.c
src/windows/evercrypt/Hacl_SHA2_512.h
src/windows/evercrypt/Hacl_SHA2_512.obj
src/windows/evercrypt/Hacl_Spe.c
src/windows/evercrypt/Hacl_Spe.h
src/windows/evercrypt/Hacl_Spec.c
src/windows/evercrypt/Hacl_Spec.h
src/windows/evercrypt/i386/aes-i686.asm
src/windows/evercrypt/libevercrypt.dll
src/windows/evercrypt/libevercrypt.exp
src/windows/evercrypt/libevercrypt.lib
src/windows/evercrypt/libevercrypt.pdb
src/windows/evercrypt/libevercrypt_code.lib
src/windows/evercrypt/LowStar.c
src/windows/evercrypt/LowStar.h
src/windows/evercrypt/LowStar.obj
src/windows/evercrypt/Prims.c
src/windows/evercrypt/Prims.h
src/windows/evercrypt/Prims.obj
src/windows/evercrypt/Seq_Create.c
src/windows/evercrypt/Seq_Create.h
src/windows/evercrypt/sha256-x86_64.obj
src/windows/evercrypt/sha256_main_i.c
src/windows/evercrypt/sha256_main_i.h
src/windows/evercrypt/sha256_main_i.obj
src/windows/evercrypt/Spec.c
src/windows/evercrypt/Spec.h
src/windows/evercrypt/testsha256.c
src/windows/evercrypt/vale_aes_glue.c
src/windows/evercrypt/vale_aes_glue.obj
src/windows/evercrypt/Vale_Hash_SHA2_256.c
src/windows/evercrypt/Vale_Hash_SHA2_256.h
src/windows/evercrypt/Vale_Hash_SHA2_256.obj
src/windows/evercrypt/vc140.pdb
src/windows/evercrypt/WasmSupport.h
src/windows/hashes.sh
src/windows/include/EverCrypt.h
src/windows/include/kremlib.h
src/windows/include/kremlin/c_endianness.h
src/windows/include/kremlin/internal/builtin.h
src/windows/include/kremlin/internal/callconv.h
src/windows/include/kremlin/internal/compat.h
src/windows/include/kremlin/internal/debug.h
src/windows/include/kremlin/internal/target.h
src/windows/include/kremlin/internal/types.h
src/windows/include/kremlin/internal/wasmsupport.h
src/windows/include/mitlsffi.h
src/windows/include/quic_provider.h
src/windows/include/RegionAllocator.h
src/windows/kremlib/c.c
src/windows/kremlib/C.h
src/windows/kremlib/c.obj
src/windows/kremlib/C_Endianness.h
src/windows/kremlib/C_Failure.h
src/windows/kremlib/C_Loops.h
src/windows/kremlib/c_string.c
src/windows/kremlib/C_String.h
src/windows/kremlib/c_string.obj
src/windows/kremlib/dllmain.obj
src/windows/kremlib/FStar_All.h
src/windows/kremlib/FStar_BitVector.h
src/windows/kremlib/fstar_bytes.c
src/windows/kremlib/FStar_Bytes.h
src/windows/kremlib/fstar_bytes.obj
src/windows/kremlib/fstar_char.c
src/windows/kremlib/FStar_Char.h
src/windows/kremlib/fstar_char.obj
src/windows/kremlib/FStar_Classical.h
src/windows/kremlib/fstar_date.c
src/windows/kremlib/FStar_Date.h
src/windows/kremlib/fstar_date.obj
src/windows/kremlib/fstar_dyn.c
src/windows/kremlib/FStar_Dyn.h
src/windows/kremlib/fstar_dyn.obj
src/windows/kremlib/FStar_ErasedLogic.h
src/windows/kremlib/FStar_Exn.h
src/windows/kremlib/FStar_Float.h
src/windows/kremlib/FStar_FunctionalExtensionality.h
src/windows/kremlib/FStar_Ghost.h
src/windows/kremlib/FStar_GSet.h
src/windows/kremlib/FStar_Heap.h
src/windows/kremlib/FStar_HyperStack.h
src/windows/kremlib/FStar_HyperStack_All.h
src/windows/kremlib/fstar_hyperstack_io.c
src/windows/kremlib/FStar_HyperStack_IO.h
src/windows/kremlib/fstar_hyperstack_io.obj
src/windows/kremlib/FStar_HyperStack_ST.h
src/windows/kremlib/FStar_Int.h
src/windows/kremlib/fstar_int16.c
src/windows/kremlib/FStar_Int16.h
src/windows/kremlib/fstar_int16.obj
src/windows/kremlib/fstar_int32.c
src/windows/kremlib/FStar_Int32.h
src/windows/kremlib/fstar_int32.obj
src/windows/kremlib/FStar_Int63.h
src/windows/kremlib/fstar_int64.c
src/windows/kremlib/FStar_Int64.h
src/windows/kremlib/fstar_int64.obj
src/windows/kremlib/fstar_int8.c
src/windows/kremlib/FStar_Int8.h
src/windows/kremlib/fstar_int8.obj
src/windows/kremlib/FStar_Int_Cast.h
src/windows/kremlib/FStar_Int_Cast_Full.h
src/windows/kremlib/fstar_io.c
src/windows/kremlib/FStar_IO.h
src/windows/kremlib/fstar_io.obj
src/windows/kremlib/FStar_Kremlin_Endianness.h
src/windows/kremlib/FStar_List.h
src/windows/kremlib/FStar_List_Tot.h
src/windows/kremlib/FStar_List_Tot_Base.h
src/windows/kremlib/FStar_List_Tot_Properties.h
src/windows/kremlib/FStar_Map.h
src/windows/kremlib/FStar_Math_Lemmas.h
src/windows/kremlib/FStar_Math_Lib.h
src/windows/kremlib/FStar_ModifiesGen.h
src/windows/kremlib/FStar_Monotonic_Heap.h
src/windows/kremlib/FStar_Monotonic_HyperHeap.h
src/windows/kremlib/FStar_Monotonic_HyperStack.h
src/windows/kremlib/FStar_Monotonic_Witnessed.h
src/windows/kremlib/FStar_Mul.h
src/windows/kremlib/FStar_Pervasives.h
src/windows/kremlib/FStar_Pervasives_Native.h
src/windows/kremlib/FStar_PredicateExtensionality.h
src/windows/kremlib/FStar_Preorder.h
src/windows/kremlib/FStar_PropositionalExtensionality.h
src/windows/kremlib/FStar_Seq.h
src/windows/kremlib/FStar_Seq_Base.h
src/windows/kremlib/FStar_Seq_Properties.h
src/windows/kremlib/FStar_Set.h
src/windows/kremlib/FStar_Squash.h
src/windows/kremlib/FStar_ST.h
src/windows/kremlib/fstar_string.c
src/windows/kremlib/FStar_String.h
src/windows/kremlib/fstar_string.obj
src/windows/kremlib/FStar_StrongExcludedMiddle.h
src/windows/kremlib/FStar_TSet.h
src/windows/kremlib/FStar_UInt.h
src/windows/kremlib/fstar_uint128.c
src/windows/kremlib/FStar_UInt128.h
src/windows/kremlib/fstar_uint128_msvc.c
src/windows/kremlib/fstar_uint128_msvc.obj
src/windows/kremlib/fstar_uint16.c
src/windows/kremlib/FStar_UInt16.h
src/windows/kremlib/fstar_uint16.obj
src/windows/kremlib/fstar_uint32.c
src/windows/kremlib/FStar_UInt32.h
src/windows/kremlib/fstar_uint32.obj
src/windows/kremlib/FStar_UInt63.h
src/windows/kremlib/fstar_uint64.c
src/windows/kremlib/FStar_UInt64.h
src/windows/kremlib/fstar_uint64.obj
src/windows/kremlib/fstar_uint8.c
src/windows/kremlib/FStar_UInt8.h
src/windows/kremlib/fstar_uint8.obj
src/windows/kremlib/FStar_Universe.h
src/windows/kremlib/kremlinit.h
src/windows/kremlib/libkremlib.dll
src/windows/kremlib/libkremlib.exp
src/windows/kremlib/libkremlib.lib
src/windows/kremlib/libkremlib.pdb
src/windows/kremlib/libkremlib_code.lib
src/windows/kremlib/LowStar_Buffer.h
src/windows/kremlib/LowStar_BufferOps.h
src/windows/kremlib/LowStar_Modifies.h
src/windows/kremlib/prims.c
src/windows/kremlib/Prims.h
src/windows/kremlib/prims.obj
src/windows/kremlib/RegionAllocator.c
src/windows/kremlib/RegionAllocator.obj
src/windows/kremlib/Spec_Loops.h
src/windows/kremlib/testlib.c
src/windows/kremlib/TestLib.h
src/windows/kremlib/testlib.obj
src/windows/kremlib/vc140.pdb
src/windows/mitls/AEAD_GCM.c
src/windows/mitls/AEAD_GCM.h
src/windows/mitls/AEAD_GCM.obj
src/windows/mitls/AEADOpenssl.c
src/windows/mitls/AEADOpenssl.h
src/windows/mitls/AEADOpenssl.obj
src/windows/mitls/AEADProvider.c
src/windows/mitls/AEADProvider.h
src/windows/mitls/AEADProvider.obj
src/windows/mitls/Alert.c
src/windows/mitls/Alert.h
src/windows/mitls/Alert.obj
src/windows/mitls/buffer_bytes.c
src/windows/mitls/buffer_bytes.obj
src/windows/mitls/Buffer_Utils.c
src/windows/mitls/Buffer_Utils.h
src/windows/mitls/Buffer_Utils.obj
src/windows/mitls/BufferBytes.c
src/windows/mitls/BufferBytes.h
src/windows/mitls/BufferBytes.obj
src/windows/mitls/C.c
src/windows/mitls/C.h
src/windows/mitls/C_Endianness.c
src/windows/mitls/C_Endianness.h
src/windows/mitls/C_Loops_Spec_Loops.c
src/windows/mitls/C_Loops_Spec_Loops.h
src/windows/mitls/C_Loops_Spec_Loops.obj
src/windows/mitls/Cert.c
src/windows/mitls/Cert.h
src/windows/mitls/Cert.obj
src/windows/mitls/CommonDH.c
src/windows/mitls/CommonDH.h
src/windows/mitls/CommonDH.obj
src/windows/mitls/Connection.c
src/windows/mitls/Connection.h
src/windows/mitls/Connection.obj
src/windows/mitls/Content.c
src/windows/mitls/Content.h
src/windows/mitls/Content.obj
src/windows/mitls/core_crypto.c
src/windows/mitls/core_crypto.obj
src/windows/mitls/CoreCrypto.c
src/windows/mitls/CoreCrypto.h
src/windows/mitls/CoreCrypto.obj
src/windows/mitls/Crypto_AEAD_Main.c
src/windows/mitls/Crypto_AEAD_Main.h
src/windows/mitls/Crypto_AEAD_Main.obj
src/windows/mitls/Crypto_HKDF_Crypto_HMAC.c
src/windows/mitls/Crypto_HKDF_Crypto_HMAC.h
src/windows/mitls/Crypto_HKDF_Crypto_HMAC.obj
src/windows/mitls/Crypto_Indexing.c
src/windows/mitls/Crypto_Indexing.h
src/windows/mitls/Crypto_Indexing.obj
src/windows/mitls/Crypto_Plain.c
src/windows/mitls/Crypto_Plain.h
src/windows/mitls/Crypto_Plain.obj
src/windows/mitls/Crypto_Symmetric_Bytes.c
src/windows/mitls/Crypto_Symmetric_Bytes.h
src/windows/mitls/Crypto_Symmetric_Bytes.obj
src/windows/mitls/CryptoTypes.c
src/windows/mitls/CryptoTypes.h
src/windows/mitls/CryptoTypes.obj
src/windows/mitls/DataStream.c
src/windows/mitls/DataStream.h
src/windows/mitls/DataStream.obj
src/windows/mitls/DebugFlags.c
src/windows/mitls/DebugFlags.h
src/windows/mitls/DHGroup.c
src/windows/mitls/DHGroup.h
src/windows/mitls/DHGroup.obj
src/windows/mitls/dllmain.obj
src/windows/mitls/ECGroup.c
src/windows/mitls/ECGroup.h
src/windows/mitls/ECGroup.obj
src/windows/mitls/EverCrypt_Bytes.c
src/windows/mitls/EverCrypt_Bytes.h
src/windows/mitls/Extensions.c
src/windows/mitls/Extensions.h
src/windows/mitls/Extensions.obj
src/windows/mitls/FFI.c
src/windows/mitls/FFI.h
src/windows/mitls/FFI.obj
src/windows/mitls/FFICallbacks.c
src/windows/mitls/FFICallbacks.h
src/windows/mitls/FFICallbacks.obj
src/windows/mitls/Flag.c
src/windows/mitls/Flag.h
src/windows/mitls/Flag.obj
src/windows/mitls/Flags.c
src/windows/mitls/Flags.h
src/windows/mitls/Flags.obj
src/windows/mitls/Format.c
src/windows/mitls/Format.h
src/windows/mitls/Format.obj
src/windows/mitls/FStar.c
src/windows/mitls/FStar.h
src/windows/mitls/FStar.obj
src/windows/mitls/hacks.h
src/windows/mitls/hacl_glue.h
src/windows/mitls/hacl_provider.c
src/windows/mitls/hacl_provider.obj
src/windows/mitls/HaclProvider.c
src/windows/mitls/HaclProvider.h
src/windows/mitls/HaclProvider.obj
src/windows/mitls/HandshakeLog.c
src/windows/mitls/HandshakeLog.h
src/windows/mitls/HandshakeLog.obj
src/windows/mitls/HandshakeMessages.c
src/windows/mitls/HandshakeMessages.h
src/windows/mitls/HandshakeMessages.obj
src/windows/mitls/Hashing.c
src/windows/mitls/Hashing.h
src/windows/mitls/Hashing.obj
src/windows/mitls/Hashing_CRF.c
src/windows/mitls/Hashing_CRF.h
src/windows/mitls/Hashing_CRF.obj
src/windows/mitls/Hashing_OpenSSL.c
src/windows/mitls/Hashing_OpenSSL.h
src/windows/mitls/Hashing_OpenSSL.obj
src/windows/mitls/Hashing_Spec.c
src/windows/mitls/Hashing_Spec.h
src/windows/mitls/Hashing_Spec.obj
src/windows/mitls/HMAC.c
src/windows/mitls/HMAC.h
src/windows/mitls/HMAC.obj
src/windows/mitls/kremlinit.c
src/windows/mitls/kremlinit.h
src/windows/mitls/kremlinit.obj
src/windows/mitls/LHAEPlain.c
src/windows/mitls/LHAEPlain.h
src/windows/mitls/LHAEPlain.obj
src/windows/mitls/libmitls.dll
src/windows/mitls/libmitls.exp
src/windows/mitls/libmitls.lib
src/windows/mitls/libmitls.pdb
src/windows/mitls/libmitls_code.lib
src/windows/mitls/List_Helpers.c
src/windows/mitls/List_Helpers.h
src/windows/mitls/log_to_choice.h
src/windows/mitls/LowCProvider.c
src/windows/mitls/LowCProvider.h
src/windows/mitls/LowCProvider.obj
src/windows/mitls/LowParse.c
src/windows/mitls/LowParse.h
src/windows/mitls/LowParse.obj
src/windows/mitls/LowParseWrappers.c
src/windows/mitls/LowParseWrappers.h
src/windows/mitls/LowParseWrappers.obj
src/windows/mitls/LowStar.c
src/windows/mitls/LowStar.h
src/windows/mitls/Mem.c
src/windows/mitls/Mem.h
src/windows/mitls/mitlsffi.c
src/windows/mitls/mitlsffi.obj
src/windows/mitls/Negotiation.c
src/windows/mitls/Negotiation.h
src/windows/mitls/Negotiation.obj
src/windows/mitls/Nonce.c
src/windows/mitls/Nonce.h
src/windows/mitls/Nonce.obj
src/windows/mitls/Old_Epochs.c
src/windows/mitls/Old_Epochs.h
src/windows/mitls/Old_Epochs.obj
src/windows/mitls/Old_Handshake.c
src/windows/mitls/Old_Handshake.h
src/windows/mitls/Old_Handshake.obj
src/windows/mitls/Old_HKDF.c
src/windows/mitls/Old_HKDF.h
src/windows/mitls/Old_HKDF.obj
src/windows/mitls/Old_HMAC_UFCMA.c
src/windows/mitls/Old_HMAC_UFCMA.h
src/windows/mitls/Old_HMAC_UFCMA.obj
src/windows/mitls/Old_KeySchedule.c
src/windows/mitls/Old_KeySchedule.h
src/windows/mitls/Old_KeySchedule.obj
src/windows/mitls/Parse.c
src/windows/mitls/Parse.h
src/windows/mitls/Parse.obj
src/windows/mitls/PMS.c
src/windows/mitls/PMS.h
src/windows/mitls/PMS.obj
src/windows/mitls/Prims.c
src/windows/mitls/Prims.h
src/windows/mitls/Prims.obj
src/windows/mitls/PSK.c
src/windows/mitls/PSK.h
src/windows/mitls/PSK.obj
src/windows/mitls/QUIC.c
src/windows/mitls/QUIC.h
src/windows/mitls/QUIC.obj
src/windows/mitls/Range.c
src/windows/mitls/Range.h
src/windows/mitls/Range.obj
src/windows/mitls/Record.c
src/windows/mitls/Record.h
src/windows/mitls/Record.obj
src/windows/mitls/regions.h
src/windows/mitls/RSAKey.c
src/windows/mitls/RSAKey.h
src/windows/mitls/RSAKey.obj
src/windows/mitls/Specializations_Providers_AEAD.c
src/windows/mitls/Specializations_Providers_AEAD.h
src/windows/mitls/Specializations_Providers_AEAD.obj
src/windows/mitls/StAE.c
src/windows/mitls/StAE.h
src/windows/mitls/StAE.obj
src/windows/mitls/StatefulLHAE.c
src/windows/mitls/StatefulLHAE.h
src/windows/mitls/StatefulLHAE.obj
src/windows/mitls/StatefulPlain.c
src/windows/mitls/StatefulPlain.h
src/windows/mitls/StatefulPlain.obj
src/windows/mitls/StreamAE.c
src/windows/mitls/StreamAE.h
src/windows/mitls/StreamAE.obj
src/windows/mitls/StreamDeltas.c
src/windows/mitls/StreamDeltas.h
src/windows/mitls/StreamDeltas.obj
src/windows/mitls/StreamPlain.c
src/windows/mitls/StreamPlain.h
src/windows/mitls/StreamPlain.obj
src/windows/mitls/Ticket.c
src/windows/mitls/Ticket.h
src/windows/mitls/Ticket.obj
src/windows/mitls/TLS.c
src/windows/mitls/TLS.h
src/windows/mitls/TLS.obj
src/windows/mitls/TLS_Curve25519.c
src/windows/mitls/TLS_Curve25519.h
src/windows/mitls/TLS_Curve25519.obj
src/windows/mitls/TLSConstants.c
src/windows/mitls/TLSConstants.h
src/windows/mitls/TLSConstants.obj
src/windows/mitls/TLSError.c
src/windows/mitls/TLSError.h
src/windows/mitls/TLSError.obj
src/windows/mitls/TLSInfo.c
src/windows/mitls/TLSInfo.h
src/windows/mitls/TLSInfo.obj
src/windows/mitls/TLSInfoFlags.c
src/windows/mitls/TLSInfoFlags.h
src/windows/mitls/TLSInfoFlags.obj
src/windows/mitls/TLSPRF.c
src/windows/mitls/TLSPRF.h
src/windows/mitls/TLSPRF.obj
src/windows/mitls/Transport.c
src/windows/mitls/Transport.h
src/windows/mitls/Transport.obj
src/windows/mitls/vc140.pdb
src/windows/quiccrypto/Crypto_HKDF_Crypto_HMAC.c
src/windows/quiccrypto/Crypto_HKDF_Crypto_HMAC.h
src/windows/quiccrypto/Crypto_HKDF_Crypto_HMAC.obj
src/windows/quiccrypto/dllmain.obj
src/windows/quiccrypto/libquiccrypto.dll
src/windows/quiccrypto/libquiccrypto.exp
src/windows/quiccrypto/libquiccrypto.lib
src/windows/quiccrypto/libquiccrypto.pdb
src/windows/quiccrypto/libquiccrypto_code.lib
src/windows/quiccrypto/quic_provider.c
src/windows/quiccrypto/quic_provider.obj
src/windows/quiccrypto/test.c
src/windows/quiccrypto/test.exe
src/windows/quiccrypto/test.obj
src/windows/quiccrypto/test.pdb
src/windows/quiccrypto/vc140.pdb
apps/cmitls/benchmark.sh
apps/quicMinusNet/quic_common.c
apps/QuicWin/ffi2lib.bat
apps/QuicWin/QuicWin.sln
apps/QuicWin/QuicWin/QuicWin.cpp
apps/QuicWin/QuicWin/QuicWin.vcxproj
apps/QuicWin/QuicWin/QuicWin.vcxproj.filters
scripts/vsbin.sh
src/pki/win/mipkiwin.c
src/tls/extract/cstubs/log_to_choice.h
src/tls/extract/cstubs/RegionAllocator.c
src/tls/extract/cstubs/RegionAllocator.h
src/tls/hints/AEAD_GCM.fst.hints
src/tls/hints/AEADProvider.fst.hints
src/tls/hints/C.Endianness.fst.hints
src/tls/hints/CommonDH.fst.hints
src/tls/hints/DebugFlags.fst.hints
src/tls/hints/HandshakeLog.fst.hints
src/tls/hints/LHAEPlain.fst.hints
src/tls/hints/List.Helpers.fst.hints
src/tls/hints/Negotiation.fst.hints
src/tls/hints/Old.KeySchedule.fst.hints
src/tls/hints/Record.fst.hints
src/tls/hints/StreamAE.fst.hints
src/tls/hints/TLS.fst.hints
src/tls/renamings.sh
src/tls/hints/StreamAE.fst.hints
src/tls/hints/Record.fst.hints
src/tls/hints/Old.KeySchedule.fst.hints
src/tls/hints/Negotiation.fst.hints
src/tls/hints/List.Helpers.fst.hints
src/tls/hints/LHAEPlain.fst.hints
src/tls/hints/HandshakeLog.fst.hints
src/tls/hints/DebugFlags.fst.hints
src/tls/hints/CommonDH.fst.hints
src/tls/hints/C.Endianness.fst.hints
src/tls/hints/AEADProvider.fst.hints
src/tls/hints/AEAD_GCM.fst.hints
src/tls/extract/cstubs/RegionAllocator.h
src/tls/extract/cstubs/RegionAllocator.c
src/tls/extract/cstubs/log_to_choice.h
src/pki/win/mipkiwin.c
scripts/vsbin.sh
apps/QuicWin/QuicWin/QuicWin.vcxproj.filters
apps/QuicWin/QuicWin/QuicWin.vcxproj
apps/QuicWin/QuicWin/QuicWin.cpp
apps/QuicWin/QuicWin.sln
apps/QuicWin/ffi2lib.bat
apps/quicMinusNet/quic_common.c
apps/cmitls/benchmark.sh
src/tls/hints/TLS.fst.hints
src/tls/renamings.sh
