<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cryptopp" version="5.6.5.4" targetFramework="native" />
  <package id="cryptopp.android" version="5.6.5.2" targetFramework="native" />
  <package id="cryptopp.v120" version="5.6.5.2" targetFramework="native" />
  <package id="cryptopp.v140" version="5.6.5.2" targetFramework="native" />
  <package id="freetype2" version="2.6.0.1" targetFramework="native" />
  <package id="libpng.redist" version="1.6.28.1" targetFramework="native" />
  <package id="libpng-msvc14-x64" version="1.6.29.7801" targetFramework="native" />
  <package id="zlib" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="zlib-vc140-static-64" version="1.2.11" targetFramework="native" />
</packages>